<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h5 class="title">Projects</h5>
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link" href="project-list" data-toggle="tab">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="project-new" data-toggle="tab">New</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="project-list" data-toggle="tab">Completed</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="tab-content">
                        <div class="tab-pane active" id="project-new">
                            <div class="card col-md-6">
                                <div class="card-body">
                                    <form>
                                        <div class="form-group col-md-12">
                                            <label for="inputName">Project Name</label>
                                            <input type="text" class="form-control" id="inputName" placeholder="enter project name">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputDescription">Project Description</label>
                                            <input type="text" class="form-control" id="inputDescription" placeholder="enter project description">
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <form>
                                        <button type="submit" class="btn btn-danger btn">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
