<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!  <br>
    Also another test to see if {{ works }}
  </h1>
  	<form action="/youtube.com">
	  	First name:<br>
	  	<input type="text" name="Username">
	  	<br>
	  	Last name:<br>
	  	<input type="text" name="Password">
	  	<br><br>
	  	<input type="submit" value="Login">
	</form> 
   <h2>
	If you click the "Submit" button, the form-data will be sent to a page called "/youtube.com".
   </h2>
   
  
</div>
