<div class="panel-header panel-header-lg header-title">
  <div class="panel-header">
    <div class="header text-center">
      <h2 class="title large-title">Welcome, Foreman</h2>
    </div>
  </div>
    <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
  <div class="row">

    <!-- Tasks section -->
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Tasks</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Task</th>
                    <th>Approval Status</th>
                    <th class="text-right">View Task</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td>Task A</td>
                    <td>Under Review</td>
                    <td class="td-actions text-right">
                      <button type="button" (click)="clickViewTask()" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                      </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td>Task B</td>
                    <td>Approved</td>
                    <td class="td-actions text-right">
                      <button type="button" (click)="clickViewTask()" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                      </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">3</td>
                    <td>Task C</td>
                    <td>Awaiting Submission</td>
                    <td class="td-actions text-right">
                      <button type="button" (click)="clickViewTask()" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                      </button>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>

    <!-- Image Preview section -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Image Preview</h5>
        </div>
        <div class="card-body">
          <div align="center">
            <span style="color:red;" *ngIf="message">{{message}}</span>
            <input #file type="file" accept='image/*' (change)="preview(file.files)" />
            <br><br>
            <img [src]="imgURL" height="200" *ngIf="imgURL">
          </div>
          <br><br>
          <div align="center">
            <button mat-raised-button (click)="clickSubmit()">Submit</button>
            <br><br>
            <div *ngIf="!isCollapsed">
              <p>{{submitMsg}}</p>
            </div>
          </div>
        </div>
  
        <div class="card-footer">
        </div>
      </div>
    </div>

    <!-- Template section -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Template</h5>
        </div>
        <div class="card-body">
          <div *ngIf="isTemplateCollapsed">
            <p>Please select a task using one of the green buttons.</p>
          </div>
          <div *ngIf="!isTemplateCollapsed">
            <img src="https://www.structure1.com/wp-content/uploads/2018/06/DSC01029-1080x675.jpg" alt="Image failed to load">
            <br><br>
            Project manager notes here
            <br><br>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Foreman notes here..."> 
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>  
  </div>
</div>
