<div class="panel-header panel-header-lg header-title">
  <div class="panel-header">
    <div class="header text-center">
      <h2 class="title large-title">Welcome, {{currentProjectManager}}</h2>
    </div>
  </div>
  <canvas baseChart id="bigDashboardChart" [datasets]="lineBigDashboardChartData" [labels]="lineBigDashboardChartLabels"
    [colors]="lineBigDashboardChartColors" [options]="lineBigDashboardChartOptions"
    [chartType]="lineBigDashboardChartType" (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">

  <!-- Row for displaying accountability Reports and other information -->
  <div class="row">

    <!-- Accountability Report -->
    <div class="col-lg-5">
      <div class="card card-chart">
        <div class="card-header">
          <!--<h5 class="card-category">Card Category 1</h5>-->
          <h4 class="card-title">Accountability Report</h4>
          <!--<div ngbDropdown>
              button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
                <i class="now-ui-icons loader_gear"></i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu-right">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item text-danger" href="#">Remove Data</a>
              </div>
            </div>-->
        </div>
        <div class="card-body">
          <!-- <div class="chart-area">
              <canvas baseChart id="lineChartExample"
                          [datasets]="lineChartData"
                          [labels]="lineChartLabels"
                          [colors]="lineChartColors"
                          [options]="lineChartOptions"
                          [chartType]="lineChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
            </div> -->
          Employee Table from Database currently unavailable
        </div>
        <div class="card-footer">
          <!--
            <div class="stats">
              <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
            </div>
          -->
        </div>
      </div>


      <!-- Existing Task Sites -->
      <!-- <div class="col-lg-5"> -->


      <div class="card">
        <div align="center" class="card-header">
          <!-- <h5 class="card-category">Tasks</h5> -->
          <h4 class="card-title">Existing Task Sites</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Site</th>
                <th class="text-right">View Tasks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">1</td>
                <td>Site A</td>
                <td class="td-actions text-right">
                  <!-- <button type="button" (click)="clickViewTask()" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                     just to get error out
                        <i class="now-ui-icons ui-2_settings-90"></i>
                      </button>
                      <button type="button" (click)="confirmDelete()" rel="tooltip" class="btn btn-danger btn-sm btn-icon">
                          <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                      -->
                </td>
              </tr>
              <tr>
                <td class="text-center">2</td>
                <td>Site B</td>
                <td class="td-actions text-right">
                  <!-- <button type="button" (click)="clickViewTask()" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                     just to get error out
                        <i class="now-ui-icons ui-2_settings-90"></i>
                      </button>
                      <button type="button" (click)="confirmDelete()" rel="tooltip" class="btn btn-danger btn-sm btn-icon">
                          <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                      -->
                </td>
              </tr>
              <tr>
                <td class="text-center">3</td>
                <td>Site C</td>
                <td class="td-actions text-right">
                  <!-- <button type="button" (click)="clickViewTask()" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                     just to get error out
                        <i class="now-ui-icons ui-2_settings-90"></i>
                      </button>
                      <button type="button" (click)="confirmDelete()" rel="tooltip" class="btn btn-danger btn-sm btn-icon">
                          <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                      -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div align="center">
            <button class="btn btn-primary btn-round">Create Site</button>
          </div>
        </div>
      </div>
      <!-- </div> -->


      <!-- End div for first column with accountability report and sites  -->
    </div>

    <!-- Create a Task Column -->
    <div class="col-md-7">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h5 class="card-category">Status Report</h5>
          <h4 class="card-title">Tasks</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                 <!-- Begin form entry for task -->
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-left">Send picture from Site A</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                  <!-- End entry -->
                </tr>
                <!-- Begin form entry for task -->
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-left">Fix cable at Site B</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                  <!-- End entry -->
                </tr>
                <!-- Begin form entry for task -->
                <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td class="text-left">Fix broken pipe in Site C</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title=""
                        class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                      </button>
                      <button type="button" rel="tooltip" title=""
                        class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                    </td>
                  <!-- End entry  -->
                  </tr>
                  <!-- Begin entry -->
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-left">Inspect integrity of Site D</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                  <!-- End entry -->
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div align="center">
          <button class="btn btn-primary btn-round">Create Task</button>
        </div>
        <div class="card-footer ">
          <hr>
          <!-- <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
          </div> -->
        </div>
      </div>

    <!-- End main row div -->
    </div>

    <!-- End main content div -->
  </div>